.maglumat_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

.header_div {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.select_tag {
    width: 70%;
    height: 25px;
    border-radius: 16px;
    font-size: 15px;
}

.option_tag {
    font-size: 15px;
}